In [439]:
import requests
from bs4 import BeautifulSoup
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

PART 1 - SCRAPING

In [440]:
# path provided by instructions

news_path = 'https://mars.nasa.gov/news/'

#create a driver
executable_path={'executable_path' : ChromeDriverManager().install()}
browser=Browser('chrome', **executable_path, headless=False)

#use browser to pull html
browser.visit(news_path)
html=browser.html #return html

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Driver [C:\Users\15705\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

### ERROR FINDING news_title from news_title_div

In [445]:
# use requests to pull html
# requests # returns a response
# html=response.html #return json / dictionary

#use bs4 to parse out title and paragraph
soup=BeautifulSoup(html, 'html.parser') 
news_title_div=soup.find('div', class_="list_text") #specify the tag and class name)
# news_title=news_title_div.find('div', class_='content_title').text


news_title=news_title_div.text

'Another First: Perseverance Captures the Sounds of Driving on Mars'

In [444]:
print(news_title)

Another First: Perseverance Captures the Sounds of Driving on Mars

In [266]:
news_paragraph_div=soup.find('div', class_="article_teaser_body")

news_para=news_paragraph_div.text

In [267]:
print(news_para)

Working with the Navajo Nation, the rover team has named features on Mars with words from the Navajo language.

In [299]:
import pymongo

#mongo connection string
mongo_conn='mongodb://localhost:27017'
client=pymongo.MongoClient(mongo_conn)

client.mars_db.mars.insert({'title':title, 'para':news_para})

<ipython-input-299-5fd98fca433f>:7: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  client.mars_db.mars.insert({'title':title, 'para':news_para})

ObjectId('604edff82c5c72406704320d')

In [272]:
# SCRAPE IMAGE - featured mars image

In [273]:
#path provided by instructions
image_url="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)

#find image thumbnail and click on it
browser.find_by_css('.BaseImage').click()

#then grab html at new page
html=browser.html
soup=BeautifulSoup(html, 'html.parser')

In [274]:
image_tag=soup.find('img', class_="BaseImage")

image_url=(image_tag['src'])

In [275]:
print(image_url)

https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24460.2e16d0ba.fill-400x400-c50.jpg

In [277]:
client.mars_db.mars.insert_one({'img_url':image_url})

In [278]:
#path provided by instructions
table_path='https://space-facts.com/mars/'
browser.visit(table_path)

html=browser.html
soup=BeautifulSoup(html, 'html.parser')
#use pandas to scrape table into a LIST of df objects
#use index numbers to get to correct df
#use pandas to convert df to html string
table_scrape=soup.find('table', class_="tablepress tablepress-id-p-mars")

# table_info=table_scrape.text

In [279]:
scrape_col1=soup.find_all('td', class_="column-1")
scrape_col2=soup.find_all('td', class_="column-2")

In [280]:
table_list1=[]

for each_td in scrape_col1:
    table_list1.append(each_td.text)
    
table_list1

['Equatorial Diameter:',
 'Polar Diameter:',
 'Mass:',
 'Moons:',
 'Orbit Distance:',
 'Orbit Period:',
 'Surface Temperature: ',
 'First Record:',
 'Recorded By:',
 'Diameter:',
 'Mass:',
 'Moons:',
 'Distance from Sun:',
 'Length of Year:',
 'Temperature:',
 'Equatorial Diameter:',
 'Polar Diameter:',
 'Mass:',
 'Moons:',
 'Orbit Distance:',
 'Orbit Period:',
 'Surface Temperature: ',
 'First Record:',
 'Recorded By:']

In [281]:
table_list2=[]

for each_td in scrape_col2:
    table_list2.append(each_td.text)
    
table_list2

['6,792 km',
 '6,752 km',
 '6.39 × 10^23 kg (0.11 Earths)',
 '2 (Phobos & Deimos)',
 '227,943,824 km (1.38 AU)',
 '687 days (1.9 years)',
 '-87 to -5 °C',
 '2nd millennium BC',
 'Egyptian astronomers',
 '6,779 km',
 '6.39 × 10^23 kg',
 '2',
 '227,943,824 km',
 '687 Earth days',
 '-87 to -5 °C',
 '6,792 km',
 '6,752 km',
 '6.39 × 10^23 kg (0.11 Earths)',
 '2 (Phobos & Deimos)',
 '227,943,824 km (1.38 AU)',
 '687 days (1.9 years)',
 '-87 to -5 °C',
 '2nd millennium BC',
 'Egyptian astronomers']

In [282]:
list1=pd.DataFrame(table_list1)

In [285]:
list_df.columns = ['col1']

In [286]:
list2=pd.DataFrame(table_list2)

In [287]:
table_df = pd.concat([list1, list2], axis=1)
table_df

                        0                              0
0    Equatorial Diameter:                       6,792 km
1         Polar Diameter:                       6,752 km
2                   Mass:  6.39 × 10^23 kg (0.11 Earths)
3                  Moons:            2 (Phobos & Deimos)
4         Orbit Distance:       227,943,824 km (1.38 AU)
5           Orbit Period:           687 days (1.9 years)
6   Surface Temperature:                    -87 to -5 °C
7           First Record:              2nd millennium BC
8            Recorded By:           Egyptian astronomers
9               Diameter:                       6,779 km
10                  Mass:                6.39 × 10^23 kg
11                 Moons:                              2
12     Distance from Sun:                 227,943,824 km
13        Length of Year:                 687 Earth days
14           Temperature:                   -87 to -5 °C
15   Equatorial Diameter:                       6,792 km
16        Polar Diameter:                       6,752 km
17                  Mass:  6.39 × 10^23 kg (0.11 Earths)
18                 Moons:            2 (Phobos & Deimos)
19        Orbit Distance:       227,943,824 km (1.38 AU)
20          Orbit Period:           687 days (1.9 years)
21  Surface Temperature:                    -87 to -5 °C
22          First Record:              2nd millennium BC
23           Recorded By:           Egyptian astronomers

In [288]:

table_html_string = table_df.to_html() 
print(table_html_string)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Diameter:</td>
      <td>6,779 km</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Moons:</td>
      <td>2</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>22</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

{'title': "NASA's Perseverance Mars Rover Mission Honors Navajo Language",
 'para': 'Working with the Navajo Nation, the rover team has named features on Mars with words from the Navajo language.',
 'image': 'https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24460.2e16d0ba.fill-400x400-c50.jpg',
 'html_string': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>0</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>Moons:</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>20</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>21</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>22</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>23</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'}

In [297]:
#remember to close browser (browser.quit())
browser.quit()

#add into app.py file

In [319]:
photo_path = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

#create a driver
executable_path={'executable_path' : ChromeDriverManager().install()}
browser=Browser('chrome', **executable_path, headless=False)

#use browser to pull html
browser.visit(photo_path)

#find image thumbnail and click on it
html=browser.html
soup=BeautifulSoup(html, 'html.parser')

h3=soup.find_all('h3')

h3_list=[]

for each_h3 in h3:
    h3_list.append(each_h3.text)
    
h3_list

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [C:\Users\15705\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [322]:
h3_df=pd.DataFrame(h3_list)
h3_df

                                      0
0          Cerberus Hemisphere Enhanced
1      Schiaparelli Hemisphere Enhanced
2      Syrtis Major Hemisphere Enhanced
3  Valles Marineris Hemisphere Enhanced

In [429]:
browser.visit(photo_path)

variable=browser.find_by_css("a.itemLink h3")
variable

In [430]:
image_url=[]
base_url="https://astrogeology.usgs.gov"
    
for i in range(len(variable)):
    browser.find_by_css("a.itemLink h3")[i].click()
    print(browser.url)
    
    html=browser.html
    soup2=BeautifulSoup(html, 'html.parser')
    hem_image_tag=soup2.find('img', class_="wide-image")
    
    
    image_url.append(base_url+hem_image_tag['src'])
    browser.back()

https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced

In [431]:
image_url

['https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']

In [432]:
hemi = list(zip(h3_list, image_url))

In [433]:
hemi

[('Cerberus Hemisphere Enhanced',
  'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'),
 ('Schiaparelli Hemisphere Enhanced',
  'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'),
 ('Syrtis Major Hemisphere Enhanced',
  'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'),
 ('Valles Marineris Hemisphere Enhanced',
  'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg')]

In [434]:
mars_data = {'title': news_title, 'para': news_para, 'image': image_url,'html_string':table_html_string, 'hemi':hemi}
mars_data

{'title': "NASA's Perseverance Mars Rover Mission Honors Navajo Language",
 'para': 'Working with the Navajo Nation, the rover team has named features on Mars with words from the Navajo language.',
 'image': ['https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
  'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
  'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
  'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'],
 'html_string': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>0</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>Moons:</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>20</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>21</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>22</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>23</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>',
 'hemi': [('Cerberus Hemisphere Enhanced',
   'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'),
  ('Schiaparelli Hemisphere Enhanced',
   'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'),
  ('Syrtis Major Hemisphere Enhanced',
   'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'),
  ('Valles Marineris Hemisphere Enhanced',
   'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg')]}